
:root{
    --baccolor:#222f3e;
    --color:#ff9f43;
}
.loh{
    color: #be7869;
}
.loin{
    border-radius: 4px;
    width: 71%;
}
body{
    background-color: beige;
}
.erorr{
    font-size: 20px;
    color: red;
    display: none;
}
.mig img{
    height: 300px;
}
.dov{
    background: url(./img/photo_2023-04-18_13-01-54.jpg) no-repeat;
    background-size: cover;
}
.homelog{
    width: 90%;
    height: 400px;
    align-items: center;
    background-color: #0d6efd82;
    box-shadow:4px 0px 12px 0px #0d6efd73;
}
.homelog img, .pgho img{
    width: 264px;
    margin: 5px;
    border-radius: 4px;
    height: 90%;
    /* box-shadow: 1px 1px 5px; */
    animation: name 3s infinite linear;
} 
@keyframes name{
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, 0px);
    }
}
.conr{
    text-align: center;
}
.conr img{
    width: 30px;
}
.pgho{
    box-shadow:4px 0px 12px 0px #0d6efd73;
}
.pgho img{
    width: 200px;
}
@media screen and (max-width:700px){
    .homelog img{
        display: none;
    }
}
.bacimg img{
    width: 100px;
    margin: 5px;
    position: absolute;
}
.imyt{
    position: absolute;
    width: 250px;
    left: 72%;
    top: 20
}

.and{
    display: flex;
    justify-content: center;
}

.material {
	position: relative;
	display: flex;
	/* justify-content: space-around; */
	transform-style: preserve-3d;
	transform: rotateZ(-0deg);
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

.dna {/*line*/
	position: relative;
	width: 1px;
	height: 100px;
	border: 1px dotted #e7e7e7;
	box-shadow: 0 0 15px #e7e7e7;
	background: transparent;
	margin: 0px 10px;
	animation: rotate 3s linear infinite;
}
.dna::before {/*top dot*/
	content: '';
	position: absolute;
	top: -2px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: #1cffb3;
	border-radius: 50%;
	box-shadow: 0 0 15px #1cffb3;
}
.dna::after {/*bottom dot*/
	content: '';
	position:absolute;
	bottom: -2px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: #0ff;
	border-radius: 50%;
	box-shadow: 0 0 12px #0ff;
}

.dna:nth-child(1) {
  animation-delay: -0.15s;
}
.dna:nth-child(2) {
  animation-delay: -0.3s;
}
.dna:nth-child(3) {
  animation-delay: -0.45s;
}
.dna:nth-child(4) {
  animation-delay: -0.6s;
}
.dna:nth-child(5) {
  animation-delay: -0.75s;
}
.dna:nth-child(6) {
  animation-delay: -0.9s;
}
.dna:nth-child(7) {
  animation-delay: -1.05s;
}
.dna:nth-child(8) {
  animation-delay: -1.2s;
}
.dna:nth-child(9) {
  animation-delay: -1.35s;
}
.dna:nth-child(10) {
  animation-delay: -1.5s;
}
.dna:nth-child(11) {
  animation-delay: -1.65s;
}
.dna:nth-child(12) {
  animation-delay: -1.8s;
}
.dna:nth-child(13) {
  animation-delay: -1.95s;
}
.dna:nth-child(14) {
  animation-delay: -2.1s;
}
.dna:nth-child(15) {
  animation-delay: -2.25s;
}
.dna:nth-child(16) {
  animation-delay: -2.3s;
}
@media screen and (max-width:1100px){
   
    .material1{
        display: none;
    }
}
@media screen and (max-width:850px){
    .imyt{
        width: 200px;
    }
    .material1{
        display: none;
    }
    .material3{
        display: none;
    }
    }
    @media screen and (max-width:700px){
        .imyt{
            width: 150px;
        }
        }
        @media screen and (max-width:750px){
            .material{
                display: none;
            }  
        }
        @media screen and (max-width:520px){
            .imyt{
                width: 100px;
            }
            }
    @media screen and (max-width:500px){
        .h3m{
            font-size: 10px;
        }
    }
    @media screen and (max-width:370px){
        .h3m{
            font-size: 7px;
        }
    }
@media screen and (max-width:600px){
    .bacimg img{
        width: 50px;
    }
}
